/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.output_dir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.output_dir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: BCL2FASTQ {
        ext.args = {[
        params.loading_threads!="null" ? "--loading-threads ${params.loading_threads}" : '',
        params.processing_threads!="null" ? "--processing-threads ${params.processing_threads}" : '',
        params.writing_threads!="null" ? "--writing-threads ${params.writing_threads}" : '',
        params.adapter_stringency!="null" ? "--adapter-stringency ${params.adapter_stringency}" : '',
        params.barcode_mismatches ? "--barcode-mismatches ${params.barcode_mismatches}" : '',
        params.create_fastq_for_index_reads!="null" ? "--create-fastq-for-index_reads ${params.create_fastq_for_index_reads}" : '',
        params.ignore_missing_filter!="null" ? "--ignore-missing-filter ${params.ignore_missing_filter}" : '',
        params.ignore_missing_positions!="null" ? "--ignore-missing-positions ${params.ignore_missing_positions}" : '',
        params.minimum_trimmed_read_length!="null" ? "--minimum-trimmed-read-length ${params.minimum_trimmed_read_length}" : '',
        params.mask_short_adapter_reads!="null" ? "--mask-short-adapter-reads ${params.mask_short_adapter_reads}" : '',
        params.tiles!="null" ? "--tiles ${params.tiles}" : '',
        params.use_bases_mask!="null" ? "--use-bases-mask ${params.use_bases_mask}" : '',
        params.with_failed_reads!="null" ? "--with-failed-reads ${params.with_failed_reads}" : '',
        params.write_fastq_reverse_complement!="null" ? "--write-fastq-reverse-complement ${params.write_fastq_reverse_complement}" : '',
        params.no_bgzf_compression!="null" ? "--no-bgzf-compression ${params.no_bgzf_compression}" : '',
        params.fastq_compression_level!="null" ? "--fastq-compression-level ${params.fastq_compression_level}" : '',
        params.no_lane_splitting!="null" ? "--no-lane-splitting ${params.no_lane_splitting}" : '',
        params.find_adapters_with_sliding_window!="null" ? "--find-adapters-with_sliding-window ${params.find_adapters_with_sliding_window}" : ''
        ].join(" ").trim()}
        publishDir = [
            path: { "${params.output_dir}/bcl2fastq" },
            mode: params.publish_dir_mode,
            //saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: INTEROP_SUMMARY {
        publishDir = [
            path: { "${params.output_dir}/QC" },
            mode: params.publish_dir_mode,
            //saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FASTQC {
        ext.args = {[
        '--quiet',
        params.nogroup ? "${params.nogroup}" : '',
        params.noextract ? "${params.noextract}" : '',
        ].join(" ").trim()}
        publishDir = [
            path: { "${params.output_dir}/QC" },
            mode: params.publish_dir_mode,
            //saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
        withName: 'MULTIQC' {
        // ext.args   = params.multiqc_title ? "--title \"$params.multiqc_title\"" : ''
        publishDir = [
            path: { "${params.output_dir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.output_dir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }


}
